[submodule "vim.symlink/bundle/Dockerfile.vim"]
	path = vim.symlink/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "vim.symlink/bundle/vim-colors-solarized"]
	path = vim.symlink/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim.symlink/bundle/nginx-vim-syntax"]
	path = vim.symlink/bundle/nginx-vim-syntax
	url = https://github.com/evanmiller/nginx-vim-syntax.git
